<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="uy.com.cvaucher.services.mappers.ListaPreciosMapper">
		  	
  	<resultMap type="uy.com.cvaucher.services.domain.ListaPrecios" id="ListaPreciosResult">
  		<id 	property = "listPrecId" 			column = "list_prec_id"></id>
  		<result property = "listPrecTratId" 		column = "list_prec_id_trat"/>
		<result property = "listPrecMonto" 			column = "list_prec_monto"/>
		
  	</resultMap>
  	
  
  	<resultMap type = "uy.com.cvaucher.services.domain.MaxIdListaPrecios" id ="MaxIdListaPreciosResult">
  	
  		<result property ="maxIdListPrecios" column = "Maximo_Id"/>
  		
  	</resultMap>
  
</mapper>